@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --first-color: #161616;
    --second-color: #253942;
    --skoob-color: #036EC0;
    --background-color: #F8F9D3;
    --first-book-background: #3C778E;
    --first-book-color: #FFDDA2;
    --second-book-background: #942113;
    --second-book-color: #E2EFDD;
    --third-book-background: #000000;
    --third-book-color: #E8A65B; 
}

body {
    background-color: var(--background-color);
    color: var(--first-color);
    font-family: 'Poppins', 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1, p, div {
    text-align: center;
}

.int {
    color: var(--second-color);
    text-align: center;
    width: 700px;
}

a {
    text-decoration: none;
    color: var(--skoob-color);
}

.buy {
    color: var(--background-color);
}

div {
    border-radius: 8px;
    max-width: 1000px;
    width: 800px;
    margin: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.extra-info {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#first-book {
    background-color: var(--first-book-background);
    color: var(--first-book-color);
}

/* #first-book h2,
#first-book h3,
#first-book p {
    text-shadow: 2px 2px 4px rgba(158, 88, 88, 0.7);
} */

#first-book:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#second-book {
    background-color: var(--second-book-background);
    color: var(--second-book-color);
}

#second-book:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#third-book {
    background-color: var(--third-book-background);
    color: var(--third-book-color);
}

#third-book:hover {
    cursor: pointer;
    transform: scale(1.05);
}
